body{
    background-color: bisque;
}

#container{
    background-color: white;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid black;
}

#myInteraction{
    padding: 10px;
}

#map{
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

nav > button{
    color: black;
    background-color: bisque;
    font-size: 18px;
    padding: 16px;
}

#knopNoord, #knopZuid{
    display: block;
    width: 250px;
}

#knopOost, #knopWest{
    display: inline-block;
    width: 125px;
}