body{
    background-image: linear-gradient(to bottom right, darkorange, rgb(255, 153, 0), rgb(255, 196, 0), rgb(224, 183, 1));
}

#container{
    background-color: black;
    width: 700px;
    height: 500px;
    margin: auto;
}

h2{
    color: white;
}

h3{
    color: white;
}

#buttons{
    background-color: darkred;
    width: 700px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    top: 70%;
}

button{
    height: 30px;
    width: 50px;
    border-radius: 20px;
    border: none;
    background-color: teal;
}